<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://ru.nniirt.ntk/menu.application" insertBefore="administration">
        <item screen="ntk_User.browse" caption="msg://ru.nniirt.ntk.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="ntk_NtkItem.browse" caption="msg://ru.nniirt.ntk.screen.ntkitem/ntkItemBrowse.menu"/>
        <item screen="ntk_UnitOfMeasure.browse"
              caption="msg://ru.nniirt.ntk.screen.unitofmeasure/unitOfMeasureBrowse.menu"/>
        <item screen="ntk_ComponentCatalogItem.browse"
              caption="msg://ru.nniirt.ntk.screen.componentcatalogitem/componentCatalogItemBrowse.menu"/>
        <item screen="ntk_NtkBOMItem.browse" caption="msg://ru.nniirt.ntk.screen.ntkbomitem/ntkBOMItemBrowse.menu"/>
    </menu>

</menu-config>